@import "tailwindcss";

@theme {
  --color-primary:  #0d141b;
  --color-text: #0f172a;
  --color-secondary: #4c739a;
  --color-border: #cfdbe7;
  
  --color-primary-background: #137fec;
  --color-background-light: #f6f7f8;
  
  --font-sans: Inter, system-ui, sans-serif;

  --color-orange-accent: #ffa500;
  --color-blue-accent: #137fec;
}

@layer utilities {
  /* Hide number input spin buttons */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
